extends ./layout/_layout.jade

block title
	title 高雄前端開發者大會
	link(rel="stylesheet", href="css/all.css?#{new Date().getTime()}")

block header
	//- 星背景
	include ./bg/_figureOuter.jade
	
	//- 主視覺
	section.header.text-center
		.header_mainVisual
			.mainVisualPic
		a.btn.btn-primary.track-AddToWishlist(href="http://gonsakon-7655f2.kktix.cc/events/ksf2e",title="KKTIX 售票系統",target="_blank") 熱烈報名中
		.about.text-center.if-clock.mt-3
			p
				b
					| 4/5 前購買票券享優惠折扣
			p
				b.clock
		//- p.info -活動尚未開始-

	//- 議程
	include ./layout/_agenda.jade
	
block content

	//- 講者
	include ./layout/_speaker.jade

	//- 贊助廠商
	section.sponsor
		.tab.pinkDeco 
			.tab_h1 贊助廠商
			.tab_sub Sponsors 
		.panel.sponsor-panel
			ul.sponsor-content
				li
					a.col-xs-12(href="http://www.super-landing.com/",title="一頁商店",target="_blank")
						img(src="images/sponsor/superlanding.jpg",title="一頁商店")
					.col-sm-8.col-sm-offset-2
						h3.text-center 一頁商店
						p 一頁商店 (
							a.text-primary(href="http://www.super-landing.com/" target="_blank" title="一頁商店")  www.super-landing.com 
							| ) 是一個 Landing page based EC 系統，我們要解決的問題是降低營運電商的所有成本 (人力成本，行銷費用，管理成本，客服成本) 進而提升獲利，我們的使命感是，將營運電商的門檻拉到最低，讓想做電商的人可以更專注在產品和行銷上。
				li
					a.col-lg-4.col-md-4.col-sm-4.col-xs-6(href="http://www.edetw.com/",title="一等一科技",target="_blank")
						img(src="images/sponsor/UOF.jpg",title="一等一科技")
	//- 協辦單位
	include ./layout/_coorganizer.jade

	//- 詳細資訊
	include ./layout/_detail.jade

	section.liveBroadcast
		.liveBroadcastContent
			.about
				p
					| 本次直播由
					span.br 史瓦特多媒體專業團隊提供
				p
					b
						| FULL HD 專業攝影機 x 3,
						span.br  FULL HD 數位導播機 x 1,
				p
					b
						| 並使用中華電信專線
						span.br 確保直播品質
			.qAndA
				h3
					| Q&A
				.qAndAContent.col-md-9.col-sm-8
					.qAndAContent_Q
						| 請問直播之後會提供錄影檔嗎？
					.qAndAContent_A
						| 購買直播票、現場票皆可觀看錄影檔，在購票時填入 Google Gmail 帳號即可。
					br
					.qAndAContent_Q
						| 請問一定要 Gmail 帳號嗎？
					.qAndAContent_A
						| 直播會使用 Youtube 並且限制帳號，所以需要用 Gmail 帳號喔。
					br
					.qAndAContent_Q
						| 直播早鳥票 與 直播票 有差異嗎？
					.qAndAContent_A
						| 早鳥票是優惠價格，兩者無其他差異。
	section.liveBroadcast
		.container
			.tab.pinkDeco.yellowStyle(style="padding: 15px; margin-bottom: 30px")
				.tab_h1 購票
				.tab_sub Tickets
			.about.text-center.if-clock
				p
					b
						| 4/5 前購買票券享優惠折扣
				p
					b.clock

			input#footer-clock(type="hidden" value="2017/5/1")
			.row
				.col-md-8.col-md-offset-2
					div(style="padding: 0 15px; background: white;")
						iframe.kktix(src='https://kktix.com/tickets_widget?slug=ksf2e', frameborder='0', height='380', width='100%', vspace='0', hspace='0', marginheight='5', marginwidth='5', scrolling='auto', allowtransparency='true')
	//- footer
	section.footer
		//- 星背景
		include ./bg/_footerfigureOuter.jade
		.footerContent
			a.btn.btn-primary.track-AddToWishlist(href="http://gonsakon-7655f2.kktix.cc/events/ksf2e",title="KKTIX 售票系統",target="_blank") 熱烈報名中
			//- p.info -活動尚未開始-
			.footerContent_contact
				img(src="images/logo/logo.png")
				a(href="https://www.facebook.com/groups/358503154261390/",target="_blank",title=" 高雄前端社群")
					i.fa.fa-facebook-square.fa-lg
				a(href="http://m.me/hexschool",target="_blank",title="Facebook 客服")
					i.fa.fa-comments.fa-lg
				p.info © 2017 高雄前端社群
	
	.navbar.navbar-fixed-bottom.bg-primary.text-center(style="min-height: auto; position: sticky")
		.clock.h4
	section.floater
		a.floater_btn(href="http://m.me/hexschool",target="_blank",title="Facebook 客服") 
			i.fa.fa-comments.fa-lg
block scripts
	script(src="plugin/vendor.js?#{new Date().getTime()}")
	script(src="js/all.js?#{new Date().getTime()}")
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-96151604-1', 'auto');
		ga('send', 'pageview');
	script.
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '518325078292779'); // Insert your pixel ID here.
		fbq('track', 'PageView');
	noscript
		img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=518325078292779&ev=PageView&noscript=1')